@font-face {
  font-family: 'Roboto';
  src: url(./fonts/Roboto-Regular.ttf);
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: 'Robot';
  src: url(./fonts/Roboto-ThinItalic.ttf);
  font-weith: 400;
  font-style: italic;
}

@font-face {
  font-family: 'Roboto';
  src: url(./fonts/Roboto-Thin.ttf);
  font-weight: 100;
  font-style: normal;
}

@font-face {
  font-family: 'Roboto';
  src: url(./fonts/Roboto-Medium.ttf);
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: 'Roboto';
  src: url(./fonts/Roboto-Light.ttf);
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: 'Roboto';
  src: url(./fonts/Roboto-Bold.ttf);
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: 'Roboto';
  src: url(./fonts/Roboto-Black.ttf);
  font-weight: 900;
  font-style: normal;
}

.App {
  display: grid;
  margin: 0;
  grid-template-columns: 1fr 1fr;
  gap: 36px;
  font-family: 'Roboto';
}

h2 {
  margin: 0;
}

.user-forms {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
}

.input-panel {
  border-radius: 8px;
  background-color: #fff;
  box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.2);
  padding: 20px 24px;
  flex: 0;
  margin: 0px 0px 20px 0px;
  width: 618px;
}

.panel-top {
  display: grid;
  grid-template-columns: 1fr 48px;
  align-items: center;
  padding-bottom: 10px 0;
}

.open-section-btn {
  border-radius: 50%;
  border-style: none;
  background-color: #fff;
  height: 48px;
  width: 48px;
}

.open-section-btn.rotated-chevron {
  transform: rotate(180deg);
  opacity: 0%;
  transition: transform 0.5s ease, opacity 1s ease;
  cursor: default;
}

.input-section {
  display: grid;
}

form {
  display: grid;
  gap: 8px;
}

.input-group {
  display: grid;
}

input {
  height: 36px;
  border-radius: 6px;
  background-color: #eeeeee;
  border-style: none;
  padding-left: 8px;
  font-size: .9rem;
}

label {
  font-weight: 500;
}

.btn-section {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  padding-top: 18px;
}

.btn-section button {
  margin-left: 18px;
}

.main-btn {
  height: 34px;
  width: 86px;
  border-radius: 8px;
  border-style: none;
  font-weight: 600;
  font-size: .9rem;
}

.main-btn:hover {
  background-color: #e6e6e6;
  transition: all 0.3s ease;
}

.save-btn {
  background-color: #4F6272;
  color: #fff;
}

.save-btn:hover, .add-btn:hover{
  background-color: #3f505e;
  transition: all 0.3s ease;
}

.add-btn {
  justify-self: center;
  align-self: center;
  height: 36px;
  width: 112px;
  border-radius: 8px;
  border-style: none;
  font-weight: 600;
  font-size: .9rem;
  background-color: #4F6272;
  color: #fff;
}

button:hover {
  cursor: pointer;
}

.tabs {
  padding: 12px 0;
}

.tab {
  display: grid;
  grid-template-columns: 1fr 1fr;
  padding-top: 18px;
}

.tab-info {
  display: grid;
  font-size: 1.2rem;
  font-weight: 500;
  align-items: center;
}

.tab-btns {
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

.tab-btns button {
  margin-left: 18px;
}

.delete-btn {
  background-color: #DC493A;
  color: #fff;
}

.delete-btn:hover {
  background-color: #bb3a2b;
  transition: all 0.3s ease;
}

.cv-display {
  display: flex;
  align-items: flex-start;
}

.cv {
  height: 800px;
  width: 618px;
  background-color: #fff;
  border-radius: 8px;
  box-shadow: 3px 3px 10px rgba(0, 0, 0, 0.2);
}
