.App {
  display: grid;
  margin: 0;
  grid-template-columns: 1fr 1fr;
  gap: 36px;
}

h2 {
  margin: 0;
}

.user-forms {
  display: flex;
  flex-direction: column;
}

.input-panel {
  border-radius: 8px;
  background-color: #fff;
  box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.2);
  padding: 10px;
  flex: 1;
  margin: 10px 0;
}

.cv-display {
  height: 800px;
  background-color: #fff;
  border-radius: 8px;
  box-shadow: 3px 3px 10px rgba(0, 0, 0, 0.2);
}